
<div class="login_page">

  <div id="login_prompt">Please enter your email and password</div>
  <form action="/sessions" method="post">
    <input name="email" placeholder="Email"type="text">
    <input name="password" placeholder="Password" type="password">
    <input type="submit" value="Log in">
  </form>
</div>
