<img src="http://www.backyardchickencoops.com.au/wp-content/uploads/2013/11/chickens_chicks_baby.jpg">

<h1 style="color: blue; font-size: 30px; font-family: Verdana">Join Chitter today.</h1>


<form action='/users' method='post'>

  Email: <input name='email' type='text' value='<%= @user.email %>'>
  Password: <input name='password' type='password'>
  Password Confirmation: <input name='password_confirmation' type='password'>
  <input type='submit' value='Sign up'>
</form>
