<div class="signup_page">
<div class="join">Join Chitter today.</div>
  <form action='/users' method='post'>

    <div id="email"><input name='email' type='text' placeholder= "Email" value='<%= @user.email %>'></div>
    <div id="password"><input name='password' placeholder="Password" type='password'></div>
    <div id="confirmation"><input name='password_confirmation' placeholder="Confirm password" type='password'></div>
    <input type='submit' value='Sign up'>

  </form>
</div>
