<div>
  <h1 style="color: cornflowerblue; font-size: 30 px; font-family: American Typewriter;">Home</h1>
  <form action="/peeps/home" method="post">
    Say something!<input name="peep" type="text">
    <input type="submit" value="Peep">
  </form>
</div>
