
<div class="peep_page">
  <div class="peep_list">

    <h1>Peeps</h1>
    <ul id="peeps">
      <% @peeps.reverse.each do |peep| %>
        <div id="each_peep">
          <%= peep.content %> <div>posted on: </div>
          <%= peep.timestamp %>
        </div>
        <% if current_user %>
          <form action= '<%= "/peep/#{peep.id}" %>' method="post">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="delete">
          </form>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
