body {
  background-color: #EEE8F3;
  font-family: 'Helvetica'
}
.trending {
  color: white;
  font-size: 300%;
  font-family: 'Helvetica';
  padding: 20px;
  text-align: center;
  display: block;
  width: 100%;
  height: 100%;

}

.navbar {
  overflow: hidden;
  margin: 0 auto;
  background-color: #CCBADC;
  width: 100%;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;

}

.button:hover {
  display: inline-block;
  background-color: white;
  float: right;
  padding: 10px;
  text-decoration: none;
  color: #9975B9;
  border-radius: 5px;
  border-style: solid;
  border-color: white;
  border-width: 1px;

}
.button {
  display: inline-block;
  background-color: #CCBADC;
  float: right;
  padding: 10px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  margin: 5px;

}

.peep {
  color: white;
  font-size: 30px;
  font-family: 'Helvetica';
  border-style: solid;
  border-color: #CCBADC;
  padding-right: 50px;
  padding-bottom: 80px;
  padding-top: 50px;
  text-align: center;
  background-color: #CCBADC;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

input[type=text] {
  border-style: solid;
  border-width: 1px;
  border-color: #CCBADC;
  border-radius: 5px;
  height: 40px;
  width: 500px;
  font-size: 20px;
  margin: 10px;
  padding: 10px;
  font-family: 'Helvetica';
  color: #2A0D45;
  vertical-align: center;
}

input[type=submit]:hover{
  border-radius: 5px;
  border-color: white;
  background-color: white;
  border-width: 1px;
  padding: 10px;
  width: 80px;
  height: 40px;
  font-size: 15px;
  color: #9975B9;
}
input[type=submit] {
  border-radius: 5px;
  border-color: #9975B9;
  background-color: #9975B9;
  border-width: 1px;
  padding: 10px;
  width: 80px;
  height: 40px;
  font-size: 15px;
  color: white;
}

.peep_page {
  color: white;
  border-style: solid;
  border-radius: 5px;
  border-color: #AA8CC5;
  padding: 50px;
  background-color: #AA8CC5;
  margin: 10px;

}

#each_peep {
  border-style: solid;
  border-radius: 5px;
  border-color: white;
  padding: 30px;
  margin: 5px;
  background-color: white;
  color: #9975B9;
}

.join {
  color: white;
  font-size: 45px;
}

.signup_page {
  border-style: solid;
  border-radius: 5px;
  border-color: #AA8CC5;
  width: 50%;
  padding: 10px;
  text-align: center;
  background-color: #AA8CC5;
}

input[type=password] {
  border-style: solid;
  border-width: 1px;
  border-color: #CCBADC;
  border-radius: 5px;
  height: 40px;
  width: 500px;
  padding: 10px;
  margin: 15px;
  font-size: 20px;
}


#login_prompt {
  font-size: 45px;
  color: white;
}
.login_page {
  border-style: solid;
  border-radius: 5px;
  background-color: #AA8CC5;
  border-color: #AA8CC5;
  width: 45%;
  text-align: center;
}
