
<div class="homepage">

  <div class="navbar">
  <div class="trending">See what's <em>trending</em>.</div>
    <a class="button" id="signup" href="/users/new">Sign up</a>
    <a class="button" id="login" href="/sessions/new">Log in</a>
    <a class="button" id="peeps" href="/peeps">Peeps</a>
  </div>
</div>
