
<h1 style="color: cornflowerblue; font-size: 40px; font-family: American Typewriter">See what's <em>trending</em>.</h1>


<a href="/users/new">Sign up</a>


<a href="/sessions/new">Log in</a>


<a href="/peeps/home">Peeps</a>

<img src="http://zerotips.com/wp-content/uploads/2012/02/little-birds.jpg">
