<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
    <link type="text/css" rel="stylesheet" href="/stylesheet.css">
  </head>

  <body>
    <% if flash[:notice] %>
      <div id='notice'> <%= flash[:notice] %></div>
    <% end %>
     <% if current_user %>
      <form action='/sessions' method='post'>
        <input type='hidden' name='_method' value='delete'>
        <input id="signout" type='submit' value='Sign out'>
        <a class="peep_button" id="peeps" href="/peeps/new">Peep</a>
      </form>
      <h2> Welcome, <%= current_user.email %></h2>
      <% else %>
      <a class="button" id="signup" href="/users/new">Sign up</a>
      <a class="button" id="login" href="/sessions/new">Log in</a>
    <% end %>
    <%= yield %>
  </body>
</html>
