<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
  </head>

  <body style="color: violet; font-size: 25px; font-family: Verdana">
    <% if flash[:notice] %>
      <div id='notice'> <%= flash[:notice] %></div>
    <% end %>
    <% if current_user %>
      <form action='/sessions' method='post'>
        <input type='hidden' name='_method' value='delete'>
        <input type='submit' value='Sign out'>
      </form>
      <h2> Welcome, <%= current_user.email %></h2>
      <img src="http://zerotips.com/wp-content/uploads/2012/02/little-birds.jpg">
    <% end %>
    <%= yield %>
  </body>
</html>
