<div class="peep_form">
  <div>
    <form action='/peeps' method='POST'>
      What's on your mind? <input type='text' name='content'>
      <input type='submit' value='Peep'>
    </form>
  </div>
</div>
